/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');
@font-face {
    font-family: "Land-Rover";
    src: url('../fonts/landrover/LandRoverWeb-Bold.eot');
    src: url('../fonts/landrover/LandRoverWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/landrover/LandRoverWeb-Bold.woff2') format('woff2'),
        url('../fonts/landrover/fonts/landrover/LandRoverWeb-Bold.woff') format('woff'),
        url('../fonts/landrover/LandRoverWeb-Bold.ttf') format('truetype'),
        url('../fonts/landrover/LandRoverWeb-Bold.svg#LandRoverWeb-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* COMMON STYLES */

* {
  box-sizing: border-box !important;
}
html, body {
  font-family: "Roboto";
  font-weight: 300;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  color: #28323C;
  transition: .7s;
}
.dark {
  background: #28323C;
}
h1,h2,h3,h4 {
  font-family: "Land-Rover";
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
.container--2col {
  display: flex;
  justify-content: space-between;
}
.col--content {
  width: 960px;
  margin-bottom: 40px;
}
.col--sidebar {
  width: 200px;
}
.section-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.section-caption__heading {
  padding: 0 50px;
  position: relative;
}
.section-caption__heading::before {
  content: '';
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-2px);
  background: #CCAE7A;
}
.section-caption h2, .section-caption h1 {
  text-transform: uppercase;
  font-size: 30px;
  background: #fff;
  padding: 0 8px;
  position: relative;
  transition: .7s;
}
.dark .section-caption h2, .dark .section-caption h1 {
  background: #28323C;
  color: #fff;
}
.section-caption h3 {
  color: #28323C;
  max-width: 600px;
  font-size: 18px;
  font-family: "Land-Rover";
  transition: .7s;
}
.dark .section-caption h3 {
  color: #fff;
}
.section-caption a {
  color: #CCAE7A;
  font-size: 22px;
  text-decoration: underline;
  font-family: "Land-Rover";
}
.seotext {
  font-size: 16px;
  margin: 0 0 10px;
}
.dark .seotext {
  color: #fff;
}

/* HEADER */

.header {
  padding: 20px 0;
}
.header__top {
  margin-bottom: 30px;
}
.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 225px;
  height: 49px;
  display: block;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  transition: .7s;
}
.dark .header__logo {
  background: url(../img/logo--white.png) no-repeat;
  background-size: contain;
}
.header__nav {
  width: 625px;
  display: flex;
  justify-content: space-between;
}
.header__nav--login {
  width: 180px;
}
.header__nav a, .header__nav span {
  text-transform: lowercase;
  font-family: "Land-Rover";
  font-size: 18px;
  position: relative;
  transition: .7s;
}
.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
  justify-content: space-between;
  width: 650px;
}
.menu__item {
	display: block;
}
.menu__link {
	font-size: 18px;
	font-weight: bold;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-transform: lowercase;
  font-family: "Land-Rover";
}
.menu__link:hover,
.menu__link:focus {
	outline: none;
}
.menu__item {
	position: relative;
	-webkit-transition: color .25s;
	transition: color .25s;
}
.menu__item::before,
.menu__item::after,
.menu__item--current::before,
.menu__item--current::after {
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}
.menu__item::before,
.menu__item::after {
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: left left;
	transform-origin: left left;
	-webkit-transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu__item--current::before,
.menu__item--current::after {
   	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu__item:hover::before,
.menu__item:hover::after {
   	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu__item::before {
	top: 130%;
	margin-left: -9px;
	border-width: 10px;
	border-top-color: #CCAE7A;
}
.menu__item--current::before {
	margin-left: -9px;
	border-width: 10px;
	border-top-color: #CCAE7A;
}
.menu__item::after,
.menu__item--current::after {
  top: 130%;
  margin-left: -6px;
  border-width: 7px;
	border-top-color: #fff;
}
.dark .menu__item::after,
.dark .menu__item--current::after {
  border-top-color: #28323C;
}
.dark .menu__link {
  color: #fff;
}
.menu__link {
	position: relative;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
}
.menu__item--current .menu__link,
.menu__item--current .menu__link:hover,
.menu__item--current .menu__link:focus {
	color: #CCAE7A;
}
.menu__item--current .menu__link::after,
.menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.menu__link:hover,
.menu__link:focus {
	color: #CCAE7A;
}
.menu__item:hover .menu__link::before,
.menu__item:focus .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.menu__link::before,
.menu__link::after {
	content: '';
	position: absolute;
	bottom: -9px;
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu__link::before {
	background: #CCAE7A;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.menu__link::after {
	background: #CCAE7A;
}
.header__nav span {
  cursor: default;
}
.header__nav a {
  font-size: 18px;
}
.header__nav a:hover {
  color: #CCAE7A;
}
.header__nav--login a, .header__nav span {
  color: #CCAE7A;
}
.header__nav--login a:hover {
  color: #28323C;
}
.header__add {
  margin-bottom: 15px;
}
.header__add img {
  width: 100%;
  height: auto;
}
.light-switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url(../img/icons/lamp-icon.svg);
  cursor: pointer;
}
.header-check {
  display: none;
}
.header-check + label {
  width: 285px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Land-Rover";
  text-transform: uppercase;
  color: #fff;
  background: #28323C;
  padding: 0 40px;
  box-shadow: inset 0 0 0 2px #28323C;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: .7s;
}
.dark .header-check + label {
  color: #28323C;
  background: #CCAE7A;
  box-shadow: inset 0 0 0 2px #CCAE7A;
}
.header-check--brands + label {
  width: 210px;
  padding: 0 55px;
  color: #28323C;
  background: #CCAE7A;
  box-shadow: inset 0 0 0 2px #CCAE7A;
}
.header-check + label::before, .header-check + label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.header-check + label::before {
  top: 0;
  left: 0;
}
.header-check + label::after {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}
.header-check + label:hover {
  color: #CCAE7A;
}
.dark .header-check + label:hover {
  color: #fff;
}
.header-check--brands + label:hover {
  color: #fff;
}
.header-check + label:hover::before, .header-check + label:hover::after {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.header-check + label:hover::before {
  border-top-color: #CCAE7A;
  border-right-color: #CCAE7A;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.dark .header-check + label:hover::before {
  border-top-color: #fff;
  border-right-color: #fff;
}
.header-check--brands + label:hover::before {
  border-top-color: #28323C;
  border-right-color: #28323C;
}
.header-check + label:hover::after {
  border-bottom-color: #CCAE7A;
  border-left-color: #CCAE7A;
  -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.dark .header-check + label:hover::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.header-check + label:hover::after {
  border-bottom-color: #CCAE7A;
  border-left-color: #CCAE7A;
}
.header-check--brands + label:hover::after {
  border-bottom-color: #28323C;
  border-left-color: #28323C;
}
.header__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  width: 20px;
  height: 12px;
  position: relative;
}
.burger span {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  top: 0;
  left: 0;
  width: 100%;
  transition: .25s;
}
.dark .burger span {
  background: #28323C;
}
.header-check--brands + label .burger span {
  background: #28323C;
}
.header-check + label:hover .burger span {
  background: #CCAE7A;
}
.dark .header-check + label:hover .burger span {
  background: #fff;
}
.header-check--brands + label:hover .burger span {
  background: #fff;
}
.burger span:nth-of-type(2) {
  top: 5px;
}
.burger span:nth-of-type(3) {
  top: 10px;
}
.header-check:checked + label span {
  top: 5px;
}
.header-check:checked + label span:first-of-type {
  transform: rotate(45deg);
}
.header-check:checked + label span:last-of-type {
  transform: rotate(-45deg);
}
.header-check:checked + label span:nth-of-type(2) {
  opacity: 0;
}
.search .main-search {
  width: 670px;
  position: relative;
}
.search .main-search input[type="text"] {
  width: 100%;
  height: 50px;
  background: #F0F2F2;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  border: 2px solid #F0F2F2;
}
.dark .search .main-search input[type="text"] {
  background: #4E5359;
  border: 2px solid #4E5359;
  color: #fff;
}
.search .main-search input[type="text"]:focus {
  outline: none;
  border: 2px solid #CCAE7A;
}
.dark .search .main-search input[type="text"]::-webkit-input-placeholder {
  color: #CCC;
}
.search .main-search input[type="submit"] {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: url(../img/icons/search-icon.svg) center no-repeat;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  transition: .7s;
}
.dark .search .main-search input[type="submit"] {
  background: url(../img/icons/search-icon--white.svg) center no-repeat;
}
.categories, .brands {
  position: relative;
  z-index: 10;
}
.categories__dropdown, .brands__dropdown {
  position: absolute;
  width: 285px;
  height: 549px;
  padding: 45px 0;
  overflow-y: hidden;
  top: 70px;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
  transform: translateY(150%);
  background: #fff;
}
.brands__dropdown {
  width: 210px;
  height: 597px;
}
.categories__dropdown.active, .brands__dropdown.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.categories__top, .categories__bottom, .brands__top, .brands__bottom {
  height: 40px;
  width: 100%;
  position: absolute;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
.categories__top, .brands__top {
  top: 0;
  left: 0;
  background: #cbad7e url(../img/icons/chevron-up.svg) no-repeat center;
}
.categories__top:hover, .brands__top:hover {
  background: #CCAE7A url(../img/icons/chevron-up.svg) no-repeat center;
}
.categories__bottom, .brands__bottom {
  bottom: 0;
  left: 0;
  background: #cbad7e url(../img/icons/chevron-down.svg) no-repeat center;
}
.categories__bottom:hover, .brands__bottom:hover {
  background: #CCAE7A url(../img/icons/chevron-down.svg) no-repeat center;
}
.categories__item {
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
  transition: .5s;
}
.categories__item:hover {
  transform: translateX(3%);
}
.categories__item:last-of-type {
  margin-bottom: 0;
}
.categories__icon {
  padding: 10px;
  width: 55px;
  height: 53px;
  background: #28323C;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.categories__icon img {
  width: 100%;
  height: auto;
}
.categories__caption {
  width: 225px;
  height: 53px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  background: #28323C;
  padding: 0 15px;
  font-weight: 300;
}
.brands__item {
  margin-bottom: 5px;
  height: 123px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #F0F2F2;
  transition: .7s;
}
.brands__item:hover {
  background: #fff;
}
.brands__item img {
  width: 100%;
  height: auto;
  filter: grayscale(70%);
  transition: .7s;
}
.brands__item:hover img {
  filter: grayscale(0);
}
.categories__items, .brands__items {
  position: relative;
  z-index: 1;
  top: 0;
  transition: .3s;
}

/* HOMESLIDER */

.homeslider {
  margin-top: 0;
}
.homeslider .container {
  display: flex;
}
.homeslider--end .container {
  justify-content: flex-end;
}
.homeslider--start .container {
  justify-content: flex-start;
}
.homeslider--justify .container {
  justify-content: space-between;
}
.slider {
  width: 100%;
  height: auto;
  transition: 1s;
  position: relative;
  z-index: 9;
}
.homeslider--categories .slider {
  width: calc(100% - 303px);
}
.homeslider--brands .slider {
  width: calc(100% - 228px);
}
.slider__slide {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}
.slider__slide.active {
  opacity: 1;
  pointer-events: auto;
}
.slider__slide:first-of-type {
  z-index: 1;
  position: relative;
}
.slider__slide img {
  width: 100%;
  height: auto;
  display: block;
}
.slider__element {
  width: 10%;
  position: absolute;
  transform: translateZ(20px);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform .5s;
  box-sizing: content-box;
}
.slider__element img {
  width: 100%;
  height: auto;
}
.slider__slide--1 .slider__element--1 {
  top: 40%;
  left: 10%;
}
.slider__slide--1 .slider__element--2 {
  top: 30.2%;
  left: 38.2%;
}
.slider__slide--1 .slider__element--3 {
  top: 54.9%;
  left: 51.6%;
}
.slider__slide--1 .slider__element--4 {
  top: 18.35%;
  left: 75.3%;
}
.slider__slide--2 .slider__element--1 {
  top: 64%;
  left: 8%;
}
.slider__slide--2 .slider__element--2 {
  top: 50.2%;
  left: 44.9%;
}
.slider__slide--2 .slider__element--3 {
  top: 52.5%;
  left: 82.6%;
}
.slider__element:hover {
  transform: translateZ(20px) scale(1.1);
  border: 3px solid #CCAE7A;
}
.slider__element__caption {
  position: absolute;
  font-family: "Land-Rover";
  color: #fff;
  padding: 10px 15px;
  background: #28323C;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  white-space: nowrap;
  top: 50%;
  left: 15%;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}
.slider__element__caption span {
  text-transform: uppercase;
}
.slider__element__caption--left {
  left: auto;
  right: 15%;
}
.slider__element:hover .slider__element__caption {
  opacity: 1;
  pointer-events: auto;
}
.slider__controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.slider__control {
  width: 16%;
  position: relative;
  cursor: pointer;
}
.slider__control::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #CCAE7A;
  opacity: 0;
  transition: .5s;
}
.slider__control.active::after, .slider__control:hover::after {
  opacity: .5;
}
.slider__control img {
  width: 100%;
  height: auto;
  display: block;
}

/* HOME EVENTS */

.events {
  display: flex;
  justify-content: space-between;
}
.events__left, .events__right {
  width: 660px;
  position: relative;
}
.events__right {
  width: 290px;
}
.events img {
  width: 100%;
  height: auto;
  display: block;
}
.events__info {
  width: 100%;
  max-width: 470px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.events__caption {
  background: rgba(204,174,122,.7);
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: "Land-Rover";
  text-transform: uppercase;
  font-size: 24px;
}
.events__counter {
  width: 215px;
  margin: 15px auto 0;
  display: flex;
  justify-content: space-between;
}
.events__counter > div {
  width: 50px;
  height: 50px;
  background: rgba(40,50,60,.7);
  color: #fff;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events__counter > div span {
  font-size: 9px;
  display: block;
}
.events__overlay {
  position: absolute;
  background: rgba(204,174,122,.95);
  width: 100%;
  height: 41%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .7s;
}
.events > div:hover .events__overlay {
  opacity: 1;
  pointer-events: auto;
}
.events__right .events__overlay {
  flex-flow: column;
}
.events__btn {
  background: rgba(40,50,60,.9);
  color: #fff;
  font-family: "Land-Rover";
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

/* HOME TRENDS */

.trends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trends__column {
  width: 310px;
}
.trends__item {
  width: 100%;
  margin-bottom: 15px;
}
.trends__carousel {
  position: relative;
  overflow: hidden;
}
.trends__carousel .item {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}
.trends__carousel .item.active {
  position: relative;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
.trends__item img {
  width: 100%;
  height: auto;
  display: block;
}
.trends__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #CCAE7A;
  color: #fff;
  font-size: 20px;
}

/* HOME DESIGNERS */

.designers {
  display: flex;
  justify-content: space-between;
}
.designers__left {
  width: 660px;
}
.designers__right {
  width: 290px;
}
.designers__right .designers__item:first-of-type {
  margin-bottom: 20px;
}
.designers__item {
  position: relative;
}
.designers__item img {
  display: block;
  width: 100%;
  height: auto;
}
.designers__grade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background: rgba(204,174,122,.8);
}

/* HOME NEWS */

.news {
  display: flex;
  justify-content: space-between;
}
.news__item {
  width: 285px;
  position: relative;
}
.news__item img {
  width: 100%;
  height: auto;
  display: block;
}
.news__caption {
  padding: 15px;
  background: #F0F2F2;
  font-family: "Land-Rover";
  font-size: 18px;
  text-transform: uppercase;
  border-top: 4px solid #CCAE7A;
}
.news__overlay {
  position: absolute;
  background: rgba(204,174,122,.8);
  width: 100%;
  height: 141px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .7s;
}
.news__item:hover .news__overlay {
  opacity: 1;
  pointer-events: auto;
}
.news__btn {
  background: rgba(40,50,60,.9);
  color: #fff;
  font-family: "Land-Rover";
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

/* HOME PARTNERS */

.partner-carousel {
  width: 1100px;
  margin: auto;
  position: relative;
  margin-bottom: 50px;
}
.partner-carousel__item {
  background: #F0F2F2;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-carousel__item img {
  width: 100%;
  height: auto;
}
.partner-carousel .owl-nav {
  position: absolute;
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: -50px;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.partner-carousel .owl-nav [class*=owl-] {
  margin: 0 !important;
  padding: 0 !important;
  width: 40px;
  height: 100%;
  font-size: 0;
  pointer-events: auto;
  border-radius: 0;
  opacity: .8;
  transition: .5s;
}
.partner-carousel .owl-nav .owl-prev {
  background: #CCAE7A url(../img/icons/chevron-left.svg) no-repeat center;
}
.partner-carousel .owl-nav .owl-next {
  background: #CCAE7A url(../img/icons/chevron-right.svg) no-repeat center;
}
.partner-carousel .owl-nav .owl-prev:hover {
  background: #CCAE7A url(../img/icons/chevron-left.svg) no-repeat center;
  opacity: 1;
}
.partner-carousel .owl-nav .owl-next:hover {
  background: #CCAE7A url(../img/icons/chevron-right.svg) no-repeat center;
  opacity: 1;
}

/* SIDEBAR */

.col--sidebar {
  padding-top: 100px;
}
.col--sidebar > * {
  margin-bottom: 20px;
}
.sidebar__add img {
  width: 100%;
  height: auto;
}
.col--sidebar h2 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
.dark .col--sidebar h2 {
  color: #fff;
}
.social {
  padding-bottom: 15px;
}
.social__icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 15px;
}
.social__icon {
  width: 35%;
  margin-bottom: 7px;
  position: relative;
}
.social__icon img {
  width: 100%;
  display: block;
  height: auto;
  opacity: .8;
  transition: .7s;
}
.social__icon img:hover {
  opacity: 1;
}
.subscription {
  padding-bottom: 10px;
}
.subscription__panel {
  background: #F0F2F2;
  padding: 20px 15px;
}
.subscription__check {
  display: none;
}
.subscription__check + label {
  padding-left: 22px;
  position: relative;
  color: #CCAE7A;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  user-select: none;
  cursor: pointer;
}
.subscription__check + label::before {
  content: '';
  width: 15px;
  height: 16px;
  top: 1px;
  left: 0;
  position: absolute;
  background: url(../img/icons/sub-check.svg) no-repeat left bottom;
}
.subscription__check:checked + label::before {
  background: url(../img/icons/sub-check--checked.svg) no-repeat left bottom;
}
.subscription__email {
  display: block;
  font-size: 16px;
  background: #fff;
  border: 2px solid #CCAE7A;
  height: 40px;
  margin-top: 15px;
  width: 100%;
  padding: 0 15px;
}
.subscription__btn {
  margin: 0;
  margin-top: 7px;
  height: 40px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  background: #CCAE7A;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 0;
  width: 100%;
}

/* FOOTER */

.footer {
  margin-top: 50px;
}
.footer__nav {
  height: 60px;
  background: #28323C;
  padding: 0 35px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark .footer__nav {
  background: #CCAE7A;
}
.footer__nav a {
  color: #fff;
  font-family: "Land-Rover";
  text-transform: lowercase;
  font-size: 18px;
  padding: 15px;
  transition: .5s;
}
.footer__nav a:hover {
  color: #CCAE7A;
}
.dark .footer__nav a:hover {
  color: #fff;
}
.footer__bottom {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.footer__bottom > div {
  font-size: 16px;
}
.dark .footer__bottom {
  color: #fff;
}

/* BRAND TOP */

.brand-top {
  background: #F0F2F2;
  width: 285px;
}
.brand-top__logo {
  padding: 10px 20px;
}
.brand-top__logo img {
  width: 100%;
  height: auto;
}
.brand-top__info {
  margin-top: 20px;
  padding: 0 20px;
}
.brand-top__location, .brand-top__categories {
  font-size: 23px;
  padding-left: 28px;
  position: relative;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.brand-top__categories {
  margin-bottom: 5px;
}
.brand-top__location::before {
  position: absolute;
  content: '';
  top: 1px;
  left: 0;
  height: 24px;
  width: 19px;
  background: url(../img/icons/location.svg) no-repeat;
  background-size: contain;
}
.brand-top h2 {
  font-size: 23px;
  position: relative;
  margin-bottom: 15px;
}
.btn-wishlist {
  background: #CCAE7A;
  padding: 15px;
  cursor: pointer;
}
.btn-wishlist input {
  display: none;
}
.btn-wishlist input + label {
  display: block;
  color: #fff;
  font-size: 18px;
  padding-left: 30px;
  position: relative;
}
.btn-wishlist input + label::after {
  content: 'ДОБАВИТЬ В ИЗБРАННОЕ';
}
.btn-wishlist input:checked + label::after {
  content: 'УБРАТЬ ИЗ ИЗБРАННОГО';
}
.btn-wishlist input + label::before {
  position: absolute;
  content: '';
  width: 21px;
  height: 18px;
  top: 2px;
  left: 0;
  background: url(../img/icons/heart.svg) no-repeat;
  background-size: contain;
}
.btn-wishlist input:checked + label::before {
  background: url(../img/icons/heart--checked.svg) no-repeat;
  background-size: contain;
}
.slider__caption {
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 0;
  left: 0;
  background: rgba(204,174,122,.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__caption h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
}
.slider__caption a {
  font-family: "Land-Rover";
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid #fff;
  color: #fff;
  transition: .5s;
}
.slider__caption a:hover {
  background: #fff;
  color: #CCAE7A;
}
.brand-contacts {
  margin-top: 40px;
  padding: 20px 0;
  padding-bottom: 30px;
  display: flex;
}
.brand-contacts > div {
  margin-right: 50px;
}
.brand-contacts > div:last-of-type {
  margin-right: 0;
}
.brand-contacts h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 22px;
}
.brand-contacts h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
}
.brand-social {
  display: flex;
}
.brand-social__item {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.brand-social__item img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: .5s;
}
.brand-social__item img:hover {
  filter: grayscale(30%);
}
.goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.goods--collection {
  justify-content: flex-start;
  margin-top: 50px;
}
.goods__item {
  width: 285px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.goods--collection .goods__item {
  width: 306px;
  margin-right: 20px;
}
.goods--collection .goods__item:nth-of-type(3n+3) {
  margin-right: 0;
}
.goods__item img {
  width: 100%;
  height: auto;
  display: block;
  transition: .7s;
}
.goods__caption {
  padding: 15px;
  background: #F0F2F2;
  font-family: "Land-Rover";
  font-size: 18px;
  text-transform: uppercase;
  border-top: 4px solid #CCAE7A;
  position: relative;
}
.goods__overlay {
  position: absolute;
  background: rgba(204,174,122,.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .7s;
  padding: 1px 4px;
  padding-bottom: 6px;
}
.goods__item:hover .goods__overlay {
  opacity: 1;
  pointer-events: auto;
}
.goods__item:hover img {
  transform: scale(1.05);
}
.goods__btn {
  background: rgba(40,50,60,.9);
  color: #fff;
  font-family: "Land-Rover";
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 100%;
  margin: 0 2px 0 0;
  cursor: pointer;
}
.goods__btn:last-of-type {
  margin: 0 0 0 2px;
}
.good-popup {
  position: fixed;
  left: 0;
  top: 0;width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 999;
  display: none;
}
.good-popup__inner {
  width: 1200px;
  background: #fff;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.good-popup__slider {
  width: 60%;
}
.good-popup__slider img {
  display: block;
  width: 100%;
  height: auto;
}
.good-popup__info {
  width: 40%;
  padding: 20px;
}
.good-popup__info h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.good-popup__info input {
  display: none;
}
.good-popup__info input + label {
  display: block;
  color: #fff;
  font-size: 18px;
  position: relative;
  width: 290px;
  background: rgba(204,174,122,.8);
  padding: 10px;
  padding-left: 45px;
  margin-top: 40px;
  cursor: pointer;
  transition: .5s;
}
.good-popup__info input + label:hover {
  background: rgba(204,174,122,1);
}
.good-popup__info input + label::after {
  content: 'ДОБАВИТЬ В ИЗБРАННОЕ';
}
.good-popup__info input:checked + label::after {
  content: 'УБРАТЬ ИЗ ИЗБРАННОГО';
}
.good-popup__info input + label::before {
  position: absolute;
  content: '';
  width: 21px;
  height: 18px;
  top: 12.5px;
  left: 10px;
  background: url(../img/icons/heart.svg) no-repeat;
  background-size: contain;
}
.good-popup__info input:checked + label::before {
  background: url(../img/icons/heart--checked.svg) no-repeat;
  background-size: contain;
}
.good-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgba(204,174,122,.8);
  transition: .5s;
  cursor: pointer;
}
.good-popup__close:hover {
  background: rgba(204,174,122,1);
}
.good-popup__close::before {
  content: '';
  position: absolute;
  width: 20px;
  left: 5px;
  height: 2px;
  top: 14px;
  transform: rotate(45deg);
  background: #fff;
}
.good-popup__close::after {
  content: '';
  position: absolute;
  width: 20px;
  left: 5px;
  height: 2px;
  top: 14px;
  transform: rotate(-45deg);
  background: #fff;
}
.good-popup .owl-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.good-popup .owl-theme .owl-nav [class*=owl-] {
  margin: 0;
  border-radius: 0;
  font-size: 0;
  width: 40px;
  height: 80px;
  background:  rgba(204,174,122,1);
  opacity: .5;
  position: relative;
  transition: .5s;
}
.good-popup .owl-theme .owl-nav [class*=owl-]:hover {
  opacity: 1;
}
.good-popup .owl-prev::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: url(../img/icons/chevron-left.svg) no-repeat center;
}
.good-popup .owl-next::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: url(../img/icons/chevron-right.svg) no-repeat center;
}
.collection {
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
}
.collection img {
  width: 100%;
  height: auto;
  display: block;
}
.collections__item {
  display: flex;
  border-bottom: 1px solid #F0F2F2;
  border-top: 1px solid #F0F2F2;
  margin-bottom: 20px;
}
.collections__img {
  width: 60%;
}
.collections__img img {
  width: 100%;
  height: auto;
  display: block;
}
.collections__img {
  width: 60%;
}
.collections__info {
  width: 40%;
  padding: 20px;
}
.collections__info h3 {
  margin-bottom: 20px;
}
.collections__info a {
  padding: 10px 15px;
  color: #fff;
  background: rgba(204,174,122,.8);
  transition: .5s;
  text-transform: uppercase;
  font-family: "Land-Rover";
  display: inline-block;
  margin-top: 20px;
}
.collections__info a:hover {
  background: rgba(204,174,122,1);
}
